**Exercise on Loops**

Display Fibonacci series up to 10 terms.

In [ ]:
num = 10
first_term, second_term = 0, 1

print("Fibonacci Series:")
for _ in range(num):
    print(first_term, end=" ")
    next_term = first_term + second_term
    first_term = second_term
    second_term = next_term

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

 Find the factorial of a given number. Ask the user to provide the number.

In [ ]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0 or num == 1:
    print(f"The factorial of {num} is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}.")

Enter a number: 3
The factorial of 3 is 6.

Write a program to print a right angle triangle using the for loop.

In [ ]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):
    print("*" * i)

Enter the number of rows: 5
*
**
***
****
*****

 **Exercise on Functions**

Make a simple calculator that can add, subtract, multiply and divide two numbers using function.

In [ ]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error! Division by zero."
    return a / b

# Get user input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Choose an operation: +, -, *, /")
operation = input("Enter operator: ")

if operation == "+":
    print(f"Result: {add(num1, num2)}")
elif operation == "-":
    print(f"Result: {subtract(num1, num2)}")
elif operation == "*":
    print(f"Result: {multiply(num1, num2)}")
elif operation == "/":
    print(f"Result: {divide(num1, num2)}")
else:
    print("Invalid operator! Please choose +, -, *, or /.")

Enter first number: 3
Enter second number: 2
Choose an operation: +, -, *, /
Enter operator: +
Result: 5.0

**Exercise on List and Dictionaries**

Remove the first duplicate element of a list

In [ ]:
def remove_first_duplicate(lst):
    seen = set()
    for i, value in enumerate(lst):
        if value in seen:
            del lst[i]
            return lst
        seen.add(value)
    return lst

numbers = [1, 2, 3, 4, 2, 5, 6]
print("Original list:", numbers)
updated_list = remove_first_duplicate(numbers)
print("Updated list:", updated_list)

Original list: [1, 2, 3, 4, 2, 5, 6]
Updated list: [1, 2, 3, 4, 5, 6]

 Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

In [ ]:
sample_dict = {"name": "Anderson", "age": 35, "salary": 5000, "city": "London"}

keys = ["name", "salary"]

new_dict = {key: sample_dict[key] for key in keys}

print("Extracted Dictionary:", new_dict)

Extracted Dictionary: {'name': 'Anderson', 'salary': 5000}

 Write a Python program to convert two lists into a dictionary in a way that item from list_one is the key and item from list_two is the value.

In [ ]:
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]

dictionary = dict(zip(list_one, list_two))

print("Converted Dictionary:", dictionary)

Converted Dictionary: {'one': 1, 'two': 2, 'three': 3}